<div class="container">

        <h1>Post something Awesome</h1>
          <form id="tweet_form" action="/awesome_features/post" method="post">
          <textarea name="tweet" id="tweet_textarea" rows="6" cols="60">
</textarea>
          <input id="tweet_submit" type="submit">
  </form>
</div> <!-- /container -->

